/*
000000
333333
262626
1A1A1A
0D0D0D
*/

@font-face {
    font-family: 'DesignioRegular';
    src: url('/fonts/DesignioRegular.otf');
}

@font-face {
    font-family: 'DesignioMedium';
    src: url('/fonts/DesignioMedium.otf');
}

@font-face {
    font-family: 'DesignioBold';
    src: url('/fonts/DesignioBold.otf');
}

html, body, div, h1, h2, h3, h4, p {
    margin: 0px;
    padding: 0px;
}

body {
    background: url('/img/183938.png') #ffffff;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
    border-bottom: 1px dashed #ffffff;
}

#menubar {
    margin: 0px;
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 1px dashed #909090;
}

#menubar .background {
    float: left;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(center top , #000000, #1A1A1A) repeat scroll 0 0 transparent;
    opacity: 0.75;
}

#menubar ul {
    list-style: none;
    margin-right: 10px;
}

#menubar ul li {
    float: left;
}

#menubar ul li a {
    font-family: 'DesignioBold';
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
    color: #ffffff;
}

#menubar ul li.active a,
#menubar ul li.selected a,
#menubar ul li a:hover {
    color: #F76E2A;
}

#content {
    margin: 0px;
    float: left;
    width: 100%;
    min-width: 760px;
    padding-bottom: 75px;
}

#playlist {
    float: left;
    width: 10%;
    min-width: 120px;
}

#artist {
    float: left;
    width: 10%;
    min-width: 120px;
}

#album {
    float: left;
    width: 20%;
    min-width: 240px;
}

#song {
    float: left;
    width: 20%;
    min-width: 240px;
}

#main {
    margin-left: -1px;
    float: left;
    width: 50%;
    min-width: 240px;
}

.wrapper {
    width: 100%;
    border-left: 1px dashed #909090;
}

#playlist ul,
#artist ul,
#album ul,
#song ul {
    margin: 0px;
    padding: 5px 5px 5px 10px;
    list-style: none;
}

#playlist ul li,
#artist ul li,
#album ul li,
#song ul li {}

#playlist ul li a,
#artist ul li a,
#album ul li a,
#song ul li a {
    font-family: 'DesignioMedium';
    font-size: 14px;
    color: #ffffff;
}

#playlist ul li a:hover,
#playlist ul li.active a,
#artist ul li a:hover,
#artist ul li.active a,
#album ul li a:hover,
#album ul li.active a,
#song ul li a:hover,
#song ul li.active a {
    color: #F76E2A;
}

#information {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px 10px;
    min-height: 140px;
}

#information h1,
#information h2,
#information h3 {
    font-family: Baskerville, Times New Roman, Times, serif;
    color: #262626;
    margin: 0px;
    padding: 0px;
    display: block;
}

#information h1 { font-size: 32px; }
#information h2 { font-size: 22px; }
#information h3 { font-size: 16px; }

#information .cover {
    float: right;
}

#information .cover img {
    height: 140px;
    width: auto;
}

#central {
    max-width: 960px;
    margin: 0px auto;
    padding-top: 30px;
}

#central h1 {
    color: #ffffff;
    font-family: 'DesignioMedium';
    font-size: 60px;
}

#central p {
    color: #ffffff;
    font-family: Baskerville, Times New Roman, Times, serif;
    font-size: 20px;
}

#login {
    width: 550px;
    padding: 20px;
    margin: 0px auto;
    margin-top: 60px;
    background: #ffffff;
    border-radius: 10px;
}

#login form label,
#login form input[type="text"],
#login form input[type="password"],
#login form input[type="submit"] {
    font-family: Baskerville, Times New Roman, Times, serif;
    font-size: 32px;
}

#login form p {
    margin: 10px 0px;
}

#login form .submit {
    margin-left: 170px;
}

#login form p label {
    float: left;
    width: 160px;
    text-align: right;
    margin-right: 10px;
    padding: 5px 0px;
    color: #a0a0a0;
}

#login form p input[type="text"],
#login form p input[type="password"] {
    width: 330px;
}

#login form p input[type="text"],
#login form p input[type="password"],
#login form p input[type="submit"] {
    border: 2px dashed #a0a0a0;
    background-color: #ffffff;
    padding: 5px 20px;
    color: #a0a0a0;
}

#autoindex {
    max-width: 960px;
    margin: 0px auto;
}

#autoindex table {
    width: 100%;
}

#autoindex table tr th,
#autoindex table tr th a,
#autoindex table tr td,
#autoindex table tr td a {
    font-family: 'DesignioMedium';
    font-size: 15px;
}

#autoindex table tr th,
#autoindex table tr th a {
    color: #909090;
}

#autoindex table tr td,
#autoindex table tr td a {
    color: #ffffff;
}

#autoindex table tr th a:hover,
#autoindex table tr td a:hover {
    color: #F76E2A;
}
