/*
000000
333333
262626
1A1A1A
0D0D0D
*/

@font-face {
    font-family: 'DesignioRegular';
    src: url('/media/fonts/DesignioRegular.otf');
}

@font-face {
    font-family: 'DesignioMedium';
    src: url('/media/fonts/DesignioMedium.otf');
}

@font-face {
    font-family: 'DesignioBold';
    src: url('/media/fonts/DesignioBold.otf');
}

html, body, div, h1, h2, h3, h4, p {
    margin: 0px;
    padding: 0px;
}

body {
    background: url('/media/183938.png') #ffffff;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

#menubar {
    width: 100%;
    float: left;
    border-bottom: 1px dashed #909090;
}

#menubar ul {
    list-style: none;
}

#menubar ul li {
    float: left;
}

#menubar ul li a {
    font-family: 'DesignioBold';
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
    color: #ffffff;
    text-decoration: none;
}
#menubar ul li.selected a,
#menubar ul li a:hover {
    color: #F76E2A;
}

#content {}

#artist {
    float: left;
    width: 10%;
    min-width: 120px;
}

#album {
    float: left;
    width: 20%;
    min-width: 240px;
}

#song {
    float: left;
    width: 20%;
    min-width: 240px;
}

#main {
    float: left;
    width: 50%;
}

#information {
    background-color: #262626;
    border-radius: 10px;
    margin: 5px 10px;
    padding: 5px 10px;
}

#artist ul,
#album ul,
#song ul {
    margin: 0px;
    padding: 5px 5px 5px 10px;
    list-style: none;
}

#artist ul li,
#album ul li,
#song ul li {}

#artist ul li a,
#album ul li a,
#song ul li a {
    font-family: 'DesignioMedium';
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

#artist ul li a:hover,
#artist ul li.active a,
#album ul li a:hover,
#album ul li.active a,
#song ul li a:hover,
#song ul li.active a {
    color: #F76E2A;
}
